/* top menu */

nav {
	margin: 30px auto 30px;
        text-align: justify;
	max-width: 500px;
		}

nav a {
    text-decoration: none;
}

nav ul {
    display: inline-block;
    width: 100%;
    max-width: 500px;
    margin: auto;
}

nav li {
    text-align: center;
    display: inline-block;
    border: solid 1.5px #464646;
    opacity: 0.5;
    list-style-position: inside;
    font: 24px 'Open Sans Condensed';
    width: 70px;
    padding: 2px 10px;
    margin: 0 2px 0 2px;
    transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
}


nav li:hover {
    opacity: 0.9;
    color: #fff;
    background: #e8e8e8;
    text-shadow: 0 0 1em #e8e8e8;
}

nav li.active {
opacity: 0.9;
background: #e8e8e8;
}