RewriteEngine on
RewriteBase /

RewriteCond %{REQUEST_fileNAME} !-d
RewriteCond %{REQUEST_fileNAME} !-f
RewriteRule ^(.*) /$1.html [L]

DirectoryIndex index.html

# replace robots.txt if HTTPS
RewriteEngine on
    RewriteCond %{HTTP:HTTPS} on
    RewriteRule ^robots.txt$ https.txt

