/* top menu */

nav {
	margin: 30px auto 30px;
    text-align: center;
	max-width: 500px;
		}

nav a {
    text-decoration: none;
}

nav ul {
    display: inline-block;
    width: 100%;
    max-width: 500px;
    margin: auto;
}

nav li {
    display: inline-block;
    border: solid 1.5px #464646;
    opacity: 0.5;
    list-style-position: inside;
    font: 24px 'Open Sans Condensed';
    width: 70px;
    padding: 2px 10px;
    margin: 0 2px 5px 2px;
    transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
}


nav li:hover {
    opacity: 0.9;
    color: #fff;
    background: rgba(232,232,232,0.5);
    box-shadow: 0 0 0.3em #a6a6a6;
    cursor: pointer;
}

nav li.active {
opacity: 0.9;
background: rgba(232,232,232,0.5);
}